absl-py==0.11.0
aiocontextvars==0.2.2
alabaster==0.7.10
anaconda-client==1.6.14
anaconda-navigator==1.8.7
anaconda-project==0.8.2
anykeystore==0.2
asn1crypto==0.24.0
astroid==1.6.3
astropy==3.0.2
attrs==18.1.0
babel==2.5.3
backcall==0.1.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
bitarray==0.8.1
bkcharts==0.2
blaze==0.11.3
bleach==2.1.3
bokeh==0.12.16
boto==2.48.0
bottleneck==1.2.1
cachetools==4.2.0
certifi==2020.12.5
cffi==1.11.5
chardet==4.0.0
click==7.1.2
cloudpickle==0.5.3
clyent==1.2.2
colorama==0.3.9
conda-build==3.10.5
conda-verify==2.0.0
conda==4.5.4
config==0.5.0.post0
configparser==5.0.1
contextlib2==0.5.5
contextvars==2.4
cryptacular==1.5.5
cryptography==2.2.2
cycler==0.10.0
cython==0.28.2
cytoolz==0.9.0.1
dask==0.17.5
dataclasses==0.8
datasets==1.1.3
datashape==0.5.4
decorator==4.3.0
defusedxml==0.6.0
dill==0.3.3
distributed==1.21.8
docker-pycreds==0.4.0
docutils==0.14
emoji==0.6.0
entrypoints==0.2.3
et-xmlfile==1.0.1
fastcache==1.0.2
filelock==3.0.4
flask-cors==3.0.4
flask==1.0.2
fsspec==0.8.5
future==0.18.2
gensim==3.8.3
gevent==1.3.0
gitdb==4.0.5
gitpython==3.1.11
glob2==0.6
glove-python-binary==0.2.0
gmpy2==2.0.8
google-auth-oauthlib==0.4.2
google-auth==1.24.0
googletrans==3.0.0
greenlet==0.4.13
grpcio==1.34.0
h11==0.9.0
h2==3.2.0
h5py==2.7.1
heapdict==1.0.0
hpack==3.0.0
hstspreload==2020.10.20
html5lib==1.0.1
httpcore==0.9.1
httpx==0.13.3
hupper==1.10.2
hyperframe==5.2.0
idna==2.10
imageio==2.3.0
imagesize==1.0.0
immutables==0.14
importlib-metadata==3.3.0
ipykernel==4.8.2
ipython-genutils==0.2.0
ipython==6.4.0
ipywidgets==7.2.1
isort==4.3.4
itsdangerous==0.24
jdcal==1.4
jedi==0.12.0
jinja2==2.10
joblib==0.17.0
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyter==1.0.0
jupyterlab-launcher==0.10.5
jupyterlab==0.32.1
keras==2.0.8
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
llvmlite==0.23.1
locket==0.2.0
loguru==0.5.3
lxml==4.2.1
markdown==3.3.3
markupsafe==1.0
matplotlib==2.2.2
mccabe==0.6.1
mistune==0.8.3
mkl-fft==1.0.0
mkl-random==1.0.1
more-itertools==4.1.0
mpmath==1.0.0
msgpack-python==0.5.6
multipledispatch==0.5.0
multiprocess==0.70.11.1
navigator-updater==0.2.1
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
nltk==3.3
nose==1.3.7
notebook==5.5.0
numba==0.38.0
numexpr==2.6.5
numpy==1.19.4
numpydoc==0.8.0
oauthlib==3.1.0
odo==0.5.1
olefile==0.45.1
openpyxl==2.5.3
packaging==17.1
pandas==0.23.0
pandocfilters==1.4.2
parso==0.2.0
partd==0.3.8
pastedeploy==2.1.1
path.py==11.0.1
pathlib2==2.3.2
pathtools==0.1.2
patsy==0.5.0
pbkdf2==1.3
pep8==1.7.1
pexpect==4.5.0
pickleshare==0.7.4
pillow==5.1.0
pip==10.0.1
pkginfo==1.4.2
plaster-pastedeploy==0.7
plaster==1.0
pluggy==0.6.0
ply==3.11
promise==2.3
prompt-toolkit==1.0.15
protobuf==3.14.0
psutil==5.4.5
ptyprocess==0.5.2
py==1.5.3
pyarrow==2.0.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycodestyle==2.4.0
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0.1
pyflakes==1.6.0
pygments==2.2.0
pylint==1.8.4
pyodbc==4.0.23
pyopenssl==18.0.0
pyparsing==2.2.0
pyramid-mailer==0.15.1
pyramid==1.10.5
pysocks==1.6.8
pytest-arraydiff==0.2
pytest-astropy==0.3.0
pytest-doctestplus==0.1.3
pytest-openfiles==0.3.0
pytest-remotedata==0.2.1
pytest==3.5.1
python-dateutil==2.7.3
python3-openid==3.2.0
pytorch-lightning==1.1.1
pytorch-qrnn==0.2.1
pytz==2018.4
pywavelets==0.5.2
pyyaml==5.3.1
pyzmq==17.0.0
qtawesome==0.4.4
qtconsole==4.3.1
qtpy==1.4.1
regex==2020.10.28
repoze.sendmail==4.4.1
requests-oauthlib==1.3.0
requests==2.25.1
rfc3986==1.4.0
rope==0.10.7
rsa==4.6
ruamel-yaml==0.15.35
sacremoses==0.0.43
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.1.0
seaborn==0.8.1
send2trash==1.5.0
sentencepiece==0.1.94
sentry-sdk==0.19.4
setuptools==51.1.0.post20201221
shortuuid==1.0.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
smart-open==3.0.0
smmap==3.0.4
sniffio==1.2.0
snowballstemmer==1.2.1
sortedcollections==0.6.1
sortedcontainers==1.5.10
sphinx==1.7.4
sphinxcontrib-websupport==1.0.1
spyder==3.2.8
sqlalchemy==1.2.7
statsmodels==0.9.0
subprocess32==3.5.4
sympy==1.1.1
tables==3.4.3
tblib==1.3.2
tensorboard-plugin-wit==1.7.0
tensorboard==2.4.0
terminado==0.8.1
testpath==0.3.1
textblob==0.15.3
tokenizers==0.9.2
toolz==0.9.0
torch==1.7.1+cu101
torchaudio==0.7.2
torchvision==0.8.2+cu101
tornado==5.0.2
tqdm==4.51.0
traitlets==4.3.2
transaction==3.0.0
transformers==3.4.0
translationstring==1.4
typing-extensions==3.7.4.3
typing==3.6.4
unicodecsv==0.14.1
urllib3==1.26.2
velruse==1.1.1
venusian==3.0.0
wandb==0.10.12
watchdog==0.10.4
wcwidth==0.1.7
webencodings==0.5.1
webob==1.8.6
werkzeug==1.0.1
wheel==0.36.2
widgetsnbextension==3.2.1
wrapt==1.10.11
wtforms-recaptcha==0.3.2
wtforms==2.3.3
xlrd==1.1.0
xlsxwriter==1.0.4
xlwt==1.3.0
xxhash==2.0.0
zict==0.1.3
zipp==3.4.0
zope.deprecation==4.4.0
zope.interface==5.2.0
zope.sqlalchemy==1.3